<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation" style="color: red;">
      <h2><%= pluralize(form.object.errors.count, "error") %> impidieron que este usuario se guardara:</h2>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= form.label :email %><br>
    <% if @user.persisted? %>
      <%= form.email_field :email, readonly: true %>
    <% else %>
      <%= form.email_field :email %>
    <% end %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :first_name, 'Nombre' %><br>
    <%= form.text_field :first_name %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :last_name, 'Apellido' %><br>
    <%= form.text_field :last_name %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :date_of_birth, 'Fecha de Nacimiento' %><br>
    <%= form.date_field :date_of_birth %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :phone_number, 'Número de Celular' %><br>
    <%= form.text_field :phone_number %>
  </div>

  <% unless @user.persisted? %>
    <div style="margin-bottom: 10px;">
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= form.label :password_confirmation, 'Confirmar Contraseña' %><br>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= form.label :paid_until, 'Mensualidad pagada hasta:' %><br>
    <%= form.date_field :paid_until %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :admin, 'Es Administrador:' %>
    <%= form.check_box :admin %>
  </div>

  <div class="actions">
    <%= form.submit (@user.persisted? ? 'Actualizar Usuario' : 'Crear Usuario'), class: 'btn btn-primary' %>
    <%= link_to 'Volver a Gestión de Usuarios', admin_users_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
