<%# app/views/admin/users/index.html.erb %>
<h1>Gestión de Usuarios</h1>

<%= link_to 'Crear Nuevo Usuario', new_admin_user_path, class: 'btn btn-primary' %>

<table class="table-responsive">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>F. Nacimiento</th>
      <th>Celular</th>
      <th>Mensualidad Hasta</th>
      <th>Es Admin</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.date_of_birth.present? ? user.date_of_birth.strftime("%d/%m/%Y") : 'N/A' %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.paid_until.present? ? user.paid_until.strftime("%d/%m/%Y") : 'N/A' %></td>
        <td><%= user.admin? ? 'Sí' : 'No' %></td>
        <td>
          <%= link_to 'Editar', edit_admin_user_path(user), class: 'btn btn-secondary btn-sm' %>
          <% if user != current_user %>
            | <%= link_to 'Eliminar', admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro de que quieres eliminar a este usuario?' }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Volver al Panel Admin', admin_root_path, class: 'btn btn-secondary' %>
